<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "https://santas-frontstatic.4jkbnu.easypanel.host"
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header always set Access-Control-Allow-Credentials "true"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send everything that isn't a real file or directory to index.php (front controller)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L,QSA]
</IfModule>
